.gameTitle{
position: absolute;
left: 16.55%;
right: 16.55%;
top: 15.42%;
bottom: 64.85%;

font-family: Baloo;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 57px;
text-align: center;
color: #000000;
}
.promptMsg{
position: absolute;
left: 18.04%;
right: 18.3%;
top: 44.25%;
bottom: 37.61%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
}
.promptOverlay{
position: relative;
width: 435px;
height: 263.67px;
left: 209px;
top: 69px;
opacity: 0.2;
z-index:100;
} 
.continueBtn{
position: absolute;
width: 256.15px;
height: 45.5px;
left: 120px;
top: 180px;

background: #FFBD59;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
cursor: pointer;
}
