/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-continue: #ffbd59;
  --clr-main: #9cc8cd;
  --clr-try: #7fca60;
  --clr-play: #ff66c1;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-ternary: "Baloo 2", cursive;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* =============== 
   Global Styles
=============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img {
  width: 30%;
  display: block;
} */

h1,
h2,
h3,
/* h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
} */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  color: black;
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  padding: 0.75rem 3rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btn:hover {
  color: whitesmoke;
}

/* section */
.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* .loading-img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
} */
main {
  padding-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

/* button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
} */
.App {
  text-align: center;
}
/* .container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
/* .App-link {
  color: #61dafb;
} */

/* readingtheroom screen */
/* .gameIntroTitle {
  position: absolute;
  height: 69px;
  width: 370px;
  left: 263px;
  top: 46px;
  border-radius: nullpx;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 69px;

  color: #000000;
}
.gameIntroWords {
  position: absolute;
  width: 455px;
  height: 99px;
  left: 228px;
  top: 181px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;

  color: #000000;
} */
/* #chair {
  position: absolute;
  height: 273px;
  width: 360px;
  left: -24px;
  top: 141px;
  border-radius: 0px;
}
#chair2 {
  position: absolute;
  height: 273px;
  width: 360px;
  left: 550px;
  top: 144px;
  border-radius: 0px;
} */
/* .circleButtons {
  position: absolute;
  height: 13px;
  width: 44px;
  left: 426px;
  top: 400px;
  border-radius: 0px;
  cursor: pointer;
  text-align: center;
} */
/* .darkCircle {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 31px;
  top: 0px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

  background: #ececec;
}
.lightCircle {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 0px;
  top: 0px;
  border-radius: 10px;

  background: #b7b7b7;
} */

/* tableOfContents */
/* #choose-scenario {
  
  position: absolute;
  width: 498px;
  height: 75px;
  left: 211px;
  top: -10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
 
  text-align: center;

  color: #000000;
} */

/* #in-person-event {
  position: absolute;
  width: 280px;
  height: 269px;
  left: 18px;
  top: 114px;
}
#zoom-call-icon {
  position: absolute;
  width: 280px;
  height: 301px;
  left: 308px;
  top: 113px;
}
#coffee-chat {
  position: absolute;
  width: 280px;
  height: 285px;
  left: 598px;
  top: 113px;
} */
/* zoomstart */
/* .backgroundImage {
  position: relative;
  width: 895px;
  height: 393px;
  left: 3px;
  top: 13px;
} */
/* .promptbox {
  position: absolute;
  height: 264px;
  width: 435px;
  left: 225px;
  top: 71px;
  border-radius: 0px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */
/* .promptbox-title {
  position: absolute;
  height: 264px;
  width: 435px;
  left: 10px;
  top: 10px;
  border-radius: 0px;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  text-align: center;

  color: #000000;
} */
/* .promptbox-msg {
  position: absolute;
  height: 48px;
  width: 277px;
  left: 58px;
  top: 90px;
  border-radius: nullpx;

  padding-left: 1.5em;
  padding-right: 1.5em;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;

  color: #000000;
} */

/* .inGameButtonDiv {
  cursor: pointer;
  position: absolute;
  height: 46px;
  width: 256px;
  left: 310px;
  top: 270px;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  background: #ffbd59;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 2;
}
#inGame-btn-name {
  position: absolute;
  height: 32px;
  width: 122px;
  left: 70px;
  top: 7px;
  text-align: center;
  border-radius: nullpx;
  cursor: pointer;
} */
.mainMenuButtonDiv {
  background: #9cc8cd;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  height: 45px;
  width: 185px;
  left: 460px;
  top: 270px;
  border-radius: 10px;
  background: #9cc8cd;
  border-radius: 10px;

  z-index: 2;
}
#main-menu-btn-name {
  position: absolute;
  height: 32px;
  width: 146px;
  left: 22px;
  top: 7px;
  border-radius: nullpx;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}
.playAgainButtonDiv {
  position: absolute;

  height: 45px;
  width: 185px;
  left: 250px;
  top: 270px;
  border-radius: 10px;
  background: #7fca60;
  border-radius: 10px;
  cursor: pointer;

  z-index: 2;
}
#play-again-btn-name {
  position: absolute;
  height: 32px;
  width: 142px;
  left: 20px;
  top: 7px;
  border-radius: nullpx;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}
.tryAgainButtonDiv {
  position: absolute;

  height: 45px;
  width: 185px;
  left: 250px;
  top: 270px;
  border-radius: 10px;
  background: #ff66c1;
  border-radius: 10px;
  cursor: pointer;

  z-index: 2;
}

/* .left-arrow {
  z-index: 1;
  position: absolute;
  /* height: 51px;
  width: 51px;
  left: 6px;
  top: 13px; */

/* zoomcall1 */
.promptbox-protips {
  position: absolute;
  height: 59px;
  width: 343px;
  left: 55px;
  top: 20px;
  border-radius: nullpx;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  z-index: 2;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/* .promptbox-task {
  position: absolute;
  height: 33px;
  width: 259px;
  left: 70px;
  top: 100px;
  border-radius: nullpx;
  white-space: nowrap;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #000000;
  z-index: 2;
} */
/* zoomcall2countdown */
.countdown {
  /* 10 */

  position: absolute;
  height: 106px;
  width: 160px;
  left: 360px;
  top: -24px;
  border-radius: nullpx;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 151px;
  text-align: center;

  color: #ffbd59;
  z-index: 2;
}
/* scoreBox */
.score-box {
  position: absolute;
  width: 78px;
  height: 35px;
  left: 810px;
  top: 33px;
  /* 
  background: rgba(78, 176, 186, 0.7);
  border-radius: 10px; */
}
#score {
  position: absolute;
  height: 35px;
  width: 47px;
  left: 830px;
  top: 29px;
  border-radius: nullpx;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  z-index: 2;

  color: #000000;
}
