.reading-room {
position: absolute;
height: 69px;
width: 370px;
left: 263px;
top: 46px;
border-radius: nullpx;
font-family: Baloo;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 69px;
color: #000000;
}
.reading-room-screen {
position: absolute;
width: 455px;
height: 99px;
left: 228px;
top: 181px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #000000;
}

