// .reading-room-title {
// position: absolute;
// height: 69px;
// width: 370px;
// left: 263px;
// top: 46px;
// border-radius: nullpx;
// font-family: Baloo;
// font-style: normal;
// font-weight: normal;
// font-size: 44px;
// line-height: 69px;
// color: #000000;
// }
// .reading-room-texts {
// position: absolute;
// width: 455px;
// height: 99px;
// left: 228px;
// top: 181px;
// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 26px;
// line-height: 30px;
// text-align: center;
// color: #000000;
// }
// .btn-continue{
// position: absolute;
// width: 256.15px;
// height: 45.5px;
// left: 300px;
// bottom: 520px;
// background: #FFBD59;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// border-radius: 10px;
// }

// This is the project stylesheet

// Colors
// $black: rgba(0, 0, 0, 1);
// $white: rgba(255, 255, 255, 1);

// // Text colors
// $text-black: rgba(0, 0, 0, 1);
// $text-green: rgba(15, 169, 88, 1);

// // Typographies
// @mixin helvetica-bold {
//   font-family: "Helvetica";
//   font-size: 24px;
//   font-weight: 700;
//   line-height: normal;
// }
// @mixin helvetica-regular {
//   font-family: "Helvetica";
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 30px;
// }

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.zoomcallstart {
  align-items: flex-start;
  display: flex;
  height: 414px;
  min-width: 896px;
  overflow-x: hidden;
}
.zoomcallstart .event {
  height: 393px;
  left: 3px;
  position: absolute;
  top: 11px;
  width: 895px;
}
.zoomcallstart .overlap-group {
  height: 404px;
  margin-top: 2px;
  position: relative;
  width: 898px;
}
.zoomcallstart .overlap-group-item {
  height: 404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 896px;
}
.zoomcallstart .prompt {
  height: 272px;
  left: 205px;
  position: absolute;
  top: 67px;
  width: 443px;
}
// ReadingScreenRoom
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.baloo-regular-normal-black-44px {
  color: black;
  font-family: "Baloo-Regular", Helvetica, Arial, serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
}
.readingtheroomscreen2 {
  background-color: white;
  height: 414px;
  overflow-x: hidden;
  position: relative;
  width: 896px;
}
.readingtheroomscreen2 .back-1 {
  height: 51px;
  left: 6px;
  position: absolute;
  top: 13px;
  width: 51px;
}
.readingtheroomscreen2 .background-ct-chair-4 {
  align-items: flex-end;
  display: flex;
  height: 273px;
  justify-content: flex-end;
  left: 591px;
  min-width: 360px;
  padding: 45.6px 127.9px;
  position: absolute;
  top: 144px;
  transform: rotate(180deg);
}
.readingtheroomscreen2 .chair {
  height: 181px;
  transform: rotate(180deg);
  width: 104px;
}
.readingtheroomscreen2 .ellipse-1 {
  height: 13px;
  margin-top: -0px;
  width: 13px;
}
.readingtheroomscreen2 .ellipse-2 {
  height: 13px;
  margin-left: 18px;
  margin-top: -0px;
  width: 13px;
}
.readingtheroomscreen2 .group-36 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 426px;
  min-width: 44px;
  position: absolute;
  top: 346px;
}
.readingtheroomscreen2 .overlap-group {
  height: 417px;
  left: -7px;
  position: absolute;
  top: 0px;
  width: 951px;
}
.readingtheroomscreen2 .reading-the-room {
  left: 263px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 46px;
}
.readingtheroomscreen2 .text-1 {
  left: 236px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 179px;
}
.roboto-normal-black-26px {
  color: black;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}
