/* tableOfContents */
#choose-scenario {
  /* Choose a Scenario */
  position: absolute;
  width: 498px;
  height: 75px;
  left: 211px;
  top: -10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

#in-person-event {
  position: absolute;
  width: 280px;
  height: 269px;
  left: 18px;
  top: 114px;
}
#zoom-call-icon {
  position: absolute;
  width: 280px;
  height: 300.54px;
  left: 308px;
  top: 113px;
}
#coffee-chat {
  position: absolute;
  width: 280px;
  height: 285px;
  left: 598px;
  top: 113px;
}
/* zoomstart */
.backgroundImage {
  position: relative;
  width: 895px;
  height: 393px;
  left: 3px;
  top: 13px;
}
.promptbox {
  position: absolute;
  height: 263.6700744628906px;
  width: 435px;
  left: 229px;
  top: 71px;
  border-radius: 0px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.promptbox-title {
  position: absolute;
  height: 263.6700744628906px;
  width: 435px;
  left: 10px;
  top: 30px;
  border-radius: 0px;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  text-align: center;

  color: #000000;
}
.promptbox-msg {
  position: absolute;
  height: 47.83395004272461px;
  width: 276.9230651855469px;
  left: 58px;
  top: 116.66824340820312px;
  border-radius: nullpx;

  padding-left: 1.5em;
  padding-right: 1.5em;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;

  color: #000000;
}

.inGameButtonDiv {
  cursor: auto;
  position: absolute;
  height: 45.500579833984375px;
  width: 256.15386962890625px;
  left: 330px;
  top: 260px;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  background: #ffbd59;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 2;
}
#inGame-btn-name {
  position: absolute;
  height: 32px;
  width: 122px;
  left: 70px;
  top: 7px;
  text-align: center;
  border-radius: nullpx;
  cursor: auto;
}
.mainMenuButtonDiv {
  background: #9cc8cd;
  border-radius: 10px;
  cursor: auto;
  position: absolute;
  height: 45px;
  width: 185px;
  left: 460px;
  top: 260px;
  border-radius: 10px;
  background: #9cc8cd;
  border-radius: 10px;

  z-index: 2;
}
#main-menu-btn-name {
  position: absolute;
  height: 32px;
  width: 146px;
  left: 22px;
  top: 7px;
  border-radius: nullpx;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}
.playAgainButtonDiv {
  position: absolute;

  height: 45px;
  width: 185px;
  left: 250px;
  top: 260px;
  border-radius: 10px;
  background: #7fca60;
  border-radius: 10px;
  cursor: auto;

  z-index: 2;
}
#play-again-btn-name {
  position: absolute;
  height: 32px;
  width: 142px;
  left: 20px;
  top: 7px;
  border-radius: nullpx;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

.left-arrow {
  z-index: 1;
  position: absolute;
  height: 51px;
  width: 51px;
  left: 6px;
  top: 13px;
  border-radius: 0px;
}
/* zoomcall1 */
.promptbox-protips {
  position: absolute;
  height: 59px;
  width: 343px;
  left: 70px;
  top: 50px;
  border-radius: nullpx;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  z-index: 2;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
.promptbox-task {
  position: absolute;
  height: 33px;
  width: 259px;
  left: 80px;
  top: 100px;
  border-radius: nullpx;
  white-space: nowrap;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #000000;
  z-index: 2;
}
/* zoomcall2countdown */
.countdown {
  /* 10 */

  position: absolute;
  height: 106px;
  width: 160px;
  left: 360px;
  top: -24px;
  border-radius: nullpx;

  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 151px;
  text-align: center;

  color: #ffbd59;
  z-index: 2;
}
/* scoreBox */
.score-box {
  position: absolute;
  width: 78px;
  height: 35px;
  right: 19px;
  top: 31px;

  background: rgba(78, 176, 186, 0.7);
  border-radius: 10px;
}
#score {
  position: absolute;
  height: 35px;
  width: 47px;
  left: 25px;
  top: -27px;
  border-radius: nullpx;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}
